<div role="listitem" style="height: 26px;">
    <div class="p-channel_sidebar__close_container">
        <a class="c-link p-channel_sidebar__channel p-channel_sidebar__channel--im p-channel_sidebar__channel--selected"
            href="https://localhost:9001/messages/{{bot.id}}">
            <span class="p-channel_sidebar__name">
                <i class="im im-radio-button-circle active"></i>
                {{#ifeq bot.is_app_user true}}
                    {{bot.real_name}}
                {{else}}
                    {{bot.name}}
                {{/ifeq}}
            </span>
        </a>
    </div>
</div>