<div role="listitem" style="height: 26px;">
    <div class="p-channel_sidebar__close_container">
        <a class="c-link p-channel_sidebar__channel p-channel_sidebar__channel--im {{#if (eq app.id selectedApp.id) }}p-channel_sidebar__channel--selected{{/if}}"
            href="http://localhost:9001/messages/{{app.id}}">
            <span class="p-channel_sidebar__name">
                <i class="im im-radio-button-circle active"></i>
                {{#if (eq app.is_app_user true) }}
                    {{app.real_name}}
                {{else}}
                    {{app.name}}
                {{/if}}
            </span>
        </a>
    </div>
</div>