{{! template-lint-disable no-inline-styles }}
<div role="listitem" style="height: 26px;">
  <a href={{href}} class="c-link p-channel_sidebar__channel {{inlineIf (eq channel.id selectedChannel.id) "p-channel_sidebar__channel--selected" }}">
    <span class="p-channel_sidebar__name">
      <i class="im im-hashtag"></i>
      {{channel.name}}
    </span>
  </a>
</div>