<div class="channel_title">
    <div id="channel_name_container" class="channel_name_container">
        <span id="channel_name" class="channel_name" data-qa="channel_name">
            <button type="button" id="channel_title" class="btn_unstyle">#{{channel.name}}</button>
        </span>
        <div class="channel_actions_container">
            <div id="mute_container"></div>
        </div>
    </div>
    <div id="channel_header_info" class="channel_header_info">
        <div id="star_container" class="channel_header_info_item">
            <button type="button" class="btn_unstyle">
                <i class="im im-star-o"></i>
            </button>
        </div>
        <div class="channel_header_info_item">
            <button type="button" id="channel_members_toggle_count" class="btn_unstyle blue_on_hover">
                <i class="im im-user-male"></i>
                <span id="channel_members_toggle_count_count">{{channel.members.length}}</span>
            </button>
        </div>
        <div class="channel_header_info_item pin">
            <button type="button" id="channel_members_toggle_count" class="btn_unstyle blue_on_hover">
                <i class="im im-pin"></i>
                <span id="channel_members_toggle_count_count">0</span>
            </button>
        </div>
        <div class="channel_header_info_item channel_topic_container">
            <span id="edit_topic_container" class="channel_topic" tabindex="0" role="button">
                <span id="edit_topic_inner">
                    <span id="channel_topic_text" class="no_jumbomoji">
                        {{channel.topic.value}}
                    </span>
                </span>
            </span>
        </div>
    </div>
</div>