<div role="listitem" style="height: 26px;">
    <a class="c-link p-channel_sidebar__channel p-channel_sidebar__channel--selected"
        href="{{href}}">
        <span class="p-channel_sidebar__name">
            <i class="im im-hashtag"></i>{{name}}
        </span>
    </a>
</div>