{{! template-lint-disable no-inline-styles }}
<div class="list__item">
  <div class="c-message c-message--light c-message--last c-message--ephemeral" role="document">
    <div class="c-message__label">
      <div class="c-message__label__gutter">
        <i class="im im-eye"></i>
      </div>
      <div class="c-message__label__text">Only visible to you</div>
    </div>
    <div class="c-message__gutter">
      <a target="_blank" rel="noopener noreferrer" tabindex="-1" aria-hidden="true"
        class="c-link c-message__avatar c-avatar c-avatar--interactive" href="/team/USLACKBOT"
        style="height: 36px; line-height: 36px; width: 36px;">
        <img class="c-avatar__image" src="/images/uslackbot-avatar-72.png" alt="">
      </a>
    </div>
    <div class="c-message__content" data-qa="message_content">
      <div class="c-message__content_header">
        <span class="c-message__sender">
          <a target="_blank"
            rel="noopener noreferrer"
            class="c-link c-message__sender_link"
            href="/team/USLACKBOT">
            Slackbot
          </a>
        </span>
        <a delay="300"
          class="c-link c-timestamp c-timestamp--static"
          href="https://botfactoryworld.slack.com/archives/C12345678/p1005500103000401">
          <span class="c-timestamp__label">11:21 AM</span>
        </a>
      </div>
      <span class="c-message__body" dir="auto">
        You mentioned
        <span dir="ltr">
          <a target="/team/U12345678" class="c-link c-member_slug c-member_slug--link" href="/team/U12345678">
            @Valera
          </a>
        </span>
        , but they’re not in this channel.
      </span>
      <div class="c-message__attachments">
        <div class="c-message_attachment">
          <button class="c-button-unstyled c-message_attachment__delete" style="display: none;" type="button">
            <i class="im im-menu-dot-h">Menu for actions (delete message)</i>
          </button>
          <div class="c-message_attachment__border"></div>
          <div class="c-message_attachment__body">
            <div class="c-message_attachment__row c-message_attachment__row--actions">
              <button
                class="c-button c-button--outline c-button--small c-message_attachment__button null--outline null--small"
                type="button">
                <span class="overflow_ellipsis" dir="auto">Invite Them</span>
              </button>
              <button
                class="c-button c-button--outline c-button--small c-message_attachment__button null--outline null--small"
                type="button">
                <span class="overflow_ellipsis" dir="auto">Let Them Know</span>
              </button>
              <button
                class="c-button c-button--outline c-button--small c-message_attachment__button null--outline null--small"
                type="button">
                <span class="overflow_ellipsis" dir="auto">Do Nothing</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>