<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mad Fake Slack App</title>
        <link rel="stylesheet" href="/css/iconmonstr-iconic-font.min.css"></style>
        {{> inlinestyles}}
    </head>
    <body>
        {{{body}}}
        <script src="/assets/handlebars/dist/handlebars.min.js"></script>
    </body>
</html>