<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mad Fake Slack App</title>
        <link rel="stylesheet" href="/css/iconmonstr-iconic-font.min.css"></style>
        {{> inlinestyles}}
        <script src="/assets/handlebars/dist/handlebars.min.js"></script>
        <script src="/assets/moment/min/moment.min.js"></script>
        <script src="/js/formatters.js"></script>
        <script src="/js/helpers.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>